

@import "node_modules/bootstrap/scss/bootstrap";


.eq_pri_col {
    color: $eq_primary;
}

.eq_pri_bg {
    background-color: $eq_primary;
}

.eq_sec_col {
    color: $eq_secondary;
}

.eq_sec_bg {
    background-color: $eq_secondary;
}

@media only screen and (max-width: 992px) {
    #navbar_main { display: none; }
}