

@import "node_modules/bootstrap/scss/bootstrap";


.eq_pri_col {
    color: $eq_primary;
}

.eq_pri_bg {
    background-color: $eq_primary;
}

.eq_sec_col {
    color: $eq_secondary;
}

.eq_sec_bg {
    background-color: $eq_secondary;
}

@media only screen and (max-width: 992px) {
    #navbar_main { display: none; }
}

// Colors
$bg-color: $eq_secondary;
$dot-color: $eq_primary;

// Dimensions
$dot-size: 1px;
$dot-space: 22px;



.masthead {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
    
}