
#quiz ul {
	list-style: none;
	margin: 10;
	padding: 0;
    text-align: center;
}

#quiz li {
	margin: 0;
	padding: 0;
    text-align: center;
}

#quiz label {
    color: black;
	background-color: #fffbf0;
    padding: 10px;
    font-size: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

#quiz label:hover {
	background-color: #dfac20;
}

#quiz input:checked ~ label,
#quiz label:focus ~ label  {
	background-color: #dfac20;
	border-color: #866a00;
}


#quiz input {
	left: -9999px;
	position: absolute;
}



.disabled {
    cursor: not-allowed !important;
}

.disabled:hover {
    background-color: #ffffff !important;
}


.button {
    background-color: #00bef2; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

  
.button:hover {
    background-color: #4bd8ff; 
    color: white;
}

